---
import Headline from '~/components/ui/Headline.astro';
import FaqAccordionList from '~/components/ui/FaqAccordionList.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Faqs as Props } from '~/types';

const {
  title = '',
  subtitle = '',
  tagline = '',
  items = [],
  columns: _columns = 2,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
  scrollMarginClass,
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`}
  bg={bg}
  scrollMarginClass={scrollMarginClass}
>
  <Headline
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    classes={(classes?.headline as Record<string, string>) ?? {}}
  />
  <div class="max-w-4xl mx-auto">
    <FaqAccordionList items={items} />
  </div>
</WidgetWrapper>
